.TransfromSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.TransfromSectionInputs {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    gap: clamp(2rem, 2%, 8rem);
    box-sizing: border-box;

    > button {
        width: 22.5rem;
        height: 22.5rem;
        flex-shrink: 0;

        > img {
            width: 22.5rem;
            height: 22.5rem;
        }
    }

    > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 1 40rem;
        min-width: 35rem;

        > span {
            display: flex;
            justify-content: center;
            width: 100%;
            overflow: hidden;

            > input {
                width: 100%;
                min-width: 0;
                text-align: center;
            }
        }
    }
}

.draggableLabel {
    cursor: ew-resize;
    user-select: none;
    -webkit-user-select: none;
}

.TransfromSectionTinyButton {
    width: 20rem;
    height: 20rem;
    flex-shrink: 0;
}

.TransfromSectionButtonTinyIcon {
    width: 18rem;
    height: 18rem;
}

.TransfromSectionButton {
    width: 30rem;
    height: 30rem;
    flex-shrink: 0;
}

.TransfromSectionButtonIcon {
    width: 28rem;
    height: 28rem;
}

.TransfromSectionButtonSelected {
    background-color: var(--selectedColor);
}

.TransformSectionToolOption {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    flex-wrap: wrap;
}
