.TransfromSection {
    display: flex;
    flex-direction: column;
}

.FrontRowSection {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
    margin-right: 5rem;

    > span {
        
    }

    > div {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: nowrap;
        flex-direction: row;
    }
}

.TransfromSectionInputs {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    //align-content: center;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: nowrap;

    > button {
        width: 22.5rem;
        height: 22.5rem;

        > img {
            width: 22.5rem;
            height: 22.5rem;
        }
    }

    > div {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        flex-grow: 1;
        flex-shrink: 1;

        > span {
            display: flex;
            flex-grow: 1;
            flex-shrink: 1;
            overflow: hidden;
            padding: 0 5px;
        }
    }
}

.TransfromSectionTinyButton {
    width: 20rem;
    height: 20rem;
}

.TransfromSectionButtonTinyIcon {
    width: 18rem;
    height: 18rem;
}

.TransfromSectionButton {
    width: 30rem;
    height: 30rem;
}

.TransfromSectionButtonIcon {
    width: 28rem;
    height: 28rem;
}

.TransfromSectionButtonSelected {
    background-color: var(--selectedColor);
}

.TransformSectionToolOption {
    display: flex;
    flex-direction: row;
    width: 100%;
    //padding-right: 5rem;
    justify-content: flex-end;
}
