.TransfromSectionInput {
    width: 20%;
    margin-left: 2.5rem;
    margin-right: 5rem;
}
.TransfromSectionButton {
    width: 20rem;
    height: 20rem;
}

.TransfromSectionButtonSelected {
    background-color: var(--selectedColor);
}

.TransfromSectionButtonIcon {
    width: 18rem;
    height: 18rem;
}