

.TransfromSectionInputs {
    display: flex;
    flex-direction: column;
    width: 100%;

    div {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;


        > input {
            width: 85%;
            margin-left: 2.5rem;
            //margin-right: 5rem;
        }

        > div {
            width: 25%
        }
    }
    //div > input {
    //    width: 20%;
    //    margin-left: 2.5rem;
    //    margin-right: 5rem;
    //}
    //div > div {
    //    width: 20%;
    //}
}

.TransfromSectionInputsWithoutIncrement {
    display: flex;
    flex-direction: column;
    width: 100%;

    div {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;


        > input {
            width: 85%;
            margin-left: 2.5rem;
            //margin-right: 5rem;
        }

        > div {
            width: 33%
        }
    }
    //div > input {
    //    width: 27.8%;
    //    margin-left: 2.5rem;
    //    margin-right: 5rem;
    //}
    //div > div {
    //    width: 27.8%;
    //}
}

.TransfromSectionButton {
    width: 20rem;
    height: 20rem;
}

.TransfromSectionButtonSelected {
    background-color: var(--selectedColor);
}

.TransfromSectionButtonIcon {
    width: 18rem;
    height: 18rem;
}

.TransfromSectionCollapsiblePanel {
    padding-bottom: 5rem;
    --panelRadius: 10rem;

    > div:last-child  {
        > div:last-child {
            padding-bottom: 5rem;
        }
    }
}